
<!-- Basic example of displaying a template in an ng-container or a real element -->

<ng-template #loading>
  <div>Hello World!</div>
</ng-template>

<ng-container *ngTemplateOutlet="loading"></ng-container>
<div *ngTemplateOutlet="loading"></div>

<br />

<!-- Examples of passing variables into the template -->

<!-- version 1: Passing three variables in, one of which goes into $explicit-->

<ng-template #rectTemplateA let-w="w" let-h="h" let-letters>
  <div>
    Rectangle width {{w}} by {{h}} named {{ letters }} has area {{ w * h }}
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="rectTemplateA; context:{w:10,h:20, $implicit:'abc'}"></ng-container>
<ng-container *ngTemplateOutlet="rectTemplateA; context:{w:30,h:40, $implicit:'def'}"></ng-container>

<br />

<!-- version 2: Passing an object to $implicit-->

<ng-template #rectTemplate let-rect>
  <div>
    Rectangle width {{rect.w}} by {{rect.h}} named {{rect.name}} has area {{ rect.w * rect.h }}
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="rectTemplate; context:{$implicit: { w:10,h:20,name:'abc'} }"></ng-container>
<ng-container *ngTemplateOutlet="rectTemplate; context:{$implicit: { w:2.5,h:3.7,name:'def'} }"></ng-container>

<br />

<!-- Completely different topic, content projection practice -->

<app-content-test1>
  <em>Hello with emphasis</em>
</app-content-test1>

<br />

<!-- Now a more advanced version where we provide multiple content. This is version 1! -->

<app-content-test2>
  <h1>Hello from H1</h1>
  <h2>Hello from H2</h2>
</app-content-test2>

<!-- Version 2. Really the same, but we're making use of IDs. (Is that a good thing or not???)-->

<app-content-test3>
  <div id="one">This is one</div>
  <div id="two">This is two</div>
</app-content-test3>

<!-- And another test of app-content-test3 to make sure ID collisions aren't a problem; also we're using ng-container and an input instead  -->
<app-content-test3>
  <ng-container id="one">This is ONE!!</ng-container>
  <input type="text" id="two" />
</app-content-test3>
